@font-face {
  font-family: 'Great Vibes';
  src: url('./assets/fonts/GreatVibes-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Great Vibes', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: 'Great Vibes';
}

@import "tailwindcss";
